<%- include('modelos/header'); %>

    <div class="o-apresentacao">
        <div class="abertura">
            <% if(validacao.length > 0) { %>
                <div>
                    <ul class="abertura_lista">
                        <li class="lista-abertura alerta"><strong>Atenção:</strong></li>
                        <% for(var i = 0; i < validacao.length; i++) { %>
                            <li class="lista-abertura alerta"><%= validacao[i].msg %></li>
                        <% } %>
                    </ul>
                </div>
            <% } else { %>
                <img class="o-apresentacao_logo" src="imagens/logo.png" alt="Logotipo Nosso Morador de Rua" width="276px" height="90px">
                <h3>Cadastre-se e ajude pessoas que precisam de você.</h3>
            <% } %>
        </div>
        <div class="o-form cadastro">
            <h3>Preencha para se cadastrar</h3>
            <form class="o-form" action="/usuario" method="post">
                <div class="form-barra">
                    <label type="hidden" for="nome"></label>
                    <input class="inp-gd" type="text" id="nome" name="nome" placeholder="Nome" value="" autofocus>
                    <label type="hidden" for="email"></label>
                    <input class="inp-gd" type="email" id="email" name="email" placeholder="E-mail" value="">
                    <label type="hidden" for="senha"></label>
                    <input class="inp-gd" type="password" id="senha" name="senha" placeholder="Senha" value="">
                    <label type="hidden" for="re_senha"></label>
                    <input class="inp-gd" type="password" id="re_senha" name="re_senha" placeholder="Digite a senha novamente" value="">
                </div>
                <button class="btn-destaque" type="submit">Cadastrar</button>
            </form>
        </div>
    </div>
    <div>
        <section>
            <h1>Últimas histórias adicionadas</h1>
            <% for(var i = 0; i < moradores.length; i++) { %>
                <div class="o-descricao">
                    <div class="retrato">
                        <img src="" alt="Retrato do morador de rua <%= moradores[i].nome %>">
                    </div>
                    <div class="o-descricao_detalhe">
                        <div class="detalhe_nome">
                            <h2><%= moradores[i].nome %></h2>
                            <p class="txt-secundario"><%= moradores[i].cidade %>/<%= moradores[i].uf %></p>
                        </div>
                        <div>
                            <p><%= moradores[i].origem %></p>
                        </div>
                        <div class="o-descricao_necessidades">

                            <% if(moradores[i].necessidades.length > 0) { %>
                                <table>
                                    <th class="titulo-destaque">Necessidades Atuais</th>
                                    <% for(var j = 0; j < moradores[i].necessidades.length; j++) { %>
                                        <tr>
                                            <td><%= moradores[i].necessidades[j] %></td>
                                        </tr>
                                    <% } %>
                                </table>
                            <% } %>

                        </div>
                    </div>
                    <div class="o-descricao_historico">
                        <h4 class="titulo-secundario">Minha história:</h4>
                        <p><%= moradores[i].historico %></p>
                        <div class="historico_link">
                            <a class="btn-destaque_link" href="/morador/<%= moradores[i]._id %>">Veja mais...</a>
                        </div>
                    </div>
                </div>
            <% } %>
        </section>
        <div class="o-section_fechamento">
            <a class="btn-destaque_link btn-xgd" href="/morador">Conheça outras histórias</a>
        </div>
    </div>
    <div class="o-quemsomos">
        <section class="section-quemsomos">
            <h1>O que é o Nosso Morador de Rua</h1>
            <p class="p-quemsomos"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur totam quasi iusto nobis dicta est quo at corporis doloremque tempore eum doloribus, optio, aspernatur. Provident nulla et nisi, eum cumque!</span>
            <span>Odio vel blanditiis nisi consectetur assumenda sapiente repellendus ullam eum praesentium reiciendis dolores ut voluptatibus maxime sequi illo voluptas, iusto non eligendi sit autem vero neque doloribus! Temporibus, a dolores!</span>
            <span>Sed id dolorum repudiandae iste ipsa repellat. Ipsam accusamus et cum accusantium laborum veniam. Quidem necessitatibus, consequuntur amet, atque quis velit molestias accusamus tempora deserunt modi saepe reiciendis. Dignissimos, consequatur!</span></p>
            <p class="p-quemsomos"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur accusantium odit cum nostrum, eum nihil laboriosam quia odio eos qui, maxime illum optio, architecto illo aut officiis. Itaque, eveniet mollitia?</p>
            <p class="p-quemsomos">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis dolor, aliquid rerum laudantium autem, est magni, quod officiis quas optio odio, sit vitae! Consequuntur architecto optio repudiandae debitis ipsam, sequi.</p>
        </section>
    </div>

<%- include('modelos/footer'); %>