<%- include('basic/header'); %>
    
    <table>
        <thead>
            <th>Id</th>
            <th>Nome</th>
            <th>Responsável</th>
            <th>E-mail</th>
            <th>Telefone</th>
            <th>Editar</th>
            <th>Apagar</th>
        </thead>
        <tbody>
            <% for(var i = 0; i < instituicoes.length; i++) { %>
            <tr>
                <td><%= instituicoes[i]._id %></td>
                <td><%= instituicoes[i].nome %></td>
                <td><%= instituicoes[i].responsavel %></td>
                <td><%= instituicoes[i].email %></td>
                <td><%= instituicoes[i].telefone %></td>
                <td><a href="/instituicao/editar/<%= instituicoes[i]._id %>" >Editar</a></td>
                <td>
                    <form method="POST" action="/instituicao/remover/<%= instituicoes[i]._id %>">
                        <button type="submit">Apagar</button>
                    </form>
                </td>
            </tr>
            <% } %>
        </tbody>
    </table>

<%- include('basic/footer'); %>