<%- include('modelos/header'); %>

   <div class="o-apresentacao">
        <div class="abertura">
            <% if(validacao.length) { %>
                <div>
                    <ul class="abertura_lista">
                        <li class="lista-abertura alerta"><strong>Atenção:</strong></li>
                        <% for(var i = 0; i < validacao.length; i++) { %>
                            <li class="lista-abertura alerta"><%= validacao[i].msg %></li>
                        <% } %>
                    </ul>
                </div>
            <% } else { %>
                <h1 class="abertura_titulo">Cadastro de Instituição</h1>
                    <ul class="abertura_lista">
                    <li class="lista-abertura">Dicas:</li>
                    <li class="lista-abertura">- Cadastre a Instituição;</li>
                    <li class="lista-abertura">- Adicione o e-mail do responsável pela Instituição;</li>
                    <li class="lista-abertura">- Após o cadastro realizado poderão ser adicionados novos usuários relacionados a Instituição.</li>
                </ul>
            <% } %>
        </div>
        <div class="o-form cadastro">
            <h3>Preencha para cadastrar</h3>
            <form class="o-form" action="/instituicao/<%= instituicao._id %>" method="post">
                <div class="form-barra">
                    <label type="hidden" for="instituicao"></label>
                    <input class="inp-gd" type="text" id="nome" name="nome" placeholder="Instituição" value="<%= instituicao.nome %>" autofocus>
                    <label type="hidden" for="responsavel"></label>
                    <input class="inp-gd" type="text" id="responsavel" name="responsavel" placeholder="Nome do responsável" value="<%= instituicao.responsavel %>">
                    <label type="hidden" for="email"></label>
                    <input class="inp-gd" type="email" id="email" name="email" placeholder="E-mail do responsável" value="<%= instituicao.email %>">
                    <label type="hidden" for="telefone"></label>
                    <input class="inp-gd" type="tel" id="telefone" name="telefone" placeholder="Telefone da Instituição" value="<%= instituicao.telefone %>" maxlength="15">
                    <label type="hidden" for="senha"></label>
                    <input class="inp-gd" type="password" id="senha" name="senha" placeholder="Senha" value="">
                    <label type="hidden" for="re_senha"></label>
                    <input class="inp-gd" type="password" id="re_senha" name="re_senha" placeholder="Digite a senha novamente" value="">
                </div>
                <button class="btn-destaque" type="submit">Atualizar</button>
            </form>
        </div>
    </div>

<script type="text/javascript">
function mascara(o,f){
    v_obj=o
    v_fun=f
    setTimeout("execmascara()",1)
}
function execmascara(){
    v_obj.value=v_fun(v_obj.value)
}
function mtel(v){
    v=v.replace(/\D/g,"");
    v=v.replace(/^(\d{2})(\d)/g,"($1) $2");
    v=v.replace(/(\d)(\d{4})$/,"$1-$2");
    return v;
}
function id( el ){
	return document.getElementById( el );
}
window.onload = function(){
	id('telefone').onkeyup = function(){
		mascara( this, mtel );
	}
}
</script>

<%- include('modelos/footer'); %>