<%- include('modelos/header'); %>
<div class="o-detalhe_info">
    <% if (instituicoes) { %>
        <table class="o-tabela-info">
            <thead class="tabela-info_linha">
                <th class="tabela-info_cel tabela-info_esq tabela-info_titulo">Nome</th>
                <th class="tabela-info_cel tabela-info_centro tabela-info_titulo">Responsável</th>
                <th class="tabela-info_cel tabela-info_centro tabela-info_titulo">E-mail</th>
                <th class="tabela-info_cel tabela-info_centro tabela-info_titulo">Telefone</th>
                <th class="tabela-info_cel tabela-info_centro tabela-info_titulo">Editar</th>
                <th class="tabela-info_cel tabela-info_centro tabela-info_titulo">Apagar</th>
            </thead>
            <tbody>
                <% for(var i = 0; i < instituicoes.length; i++) { %>
                <tr class="tabela-info_linha">
                    <td class="tabela-info_cel tabela-info_esq"><%= instituicoes[i].nome %></td>
                    <td class="tabela-info_cel tabela-info_centro"><%= instituicoes[i].responsavel %></td>
                    <td class="tabela-info_cel tabela-info_centro"><%= instituicoes[i].email %></td>
                    <td class="tabela-info_cel tabela-info_centro"><%= instituicoes[i].telefone %></td>
                    <td class="tabela-info_cel tabela-info_centro">
                        <form method="GET" action="/instituicao/editar/<%= instituicoes[i]._id %>">
                            <button type="submit">Editar</button>
                        </form>
                    </td>
                    <td class="tabela-info_cel tabela-info_centro">
                        <form method="POST" action="/instituicao/remover/<%= instituicoes[i]._id %>">
                            <button type="submit">Apagar</button>
                        </form>
                    </td>
                </tr>
                <% } %>
            </tbody>
        </table>
    <% } %>
</div>
<%- include('modelos/footer'); %>