<%- include('basic/header'); %>
    
    <form method="POST" action="/morador/<%= morador._id %>">
        <input type="hidden" name="_id" value="<%= morador._id %>">
        <label for="nome">Nome</label>
        <input type="text" id="nome" name="nome" placeholder="Nome do Morador de Rua que deseja cadastrar" value="<%= morador.nome %>">
        
        <label for="cidade">Cidade</label>
        <input type="text" id="cidade" name="cidade" placeholder="Cidade de origem" value="<%= morador.cidade %>">
        
        <label for="uf">Estado</label>
        <input type="text" id="uf" name="uf" placeholder="UF" value="<%= morador.uf %>">
        
        <label for="historico">Sua história</label>
        <textarea name="historico" id="historico" cols="30" rows="10" 
            placeholder="Conte a história deste morador"><%= morador.historico %></textarea>
        
        <label for="necessidades">Necessidades principais</label>
        <input type="text" name="necessidades" id="necessidades" placeholder="Digite o que ele está necessitando de ajuda" value="<%= morador.necessidades %>">
        
        <button type="submit">Atualizar</button>
    </form>

<%- include('basic/footer'); %>