<%- include('modelos/header'); %>

    <div class="o-apresentacao">
        <div class="o-apresentacao_imagem">
            <img id="foto-apresentacao" src="" alt="Imagem do morador de rua NOME AQUI" width="464" height="464">
        </div>
        <div class="o-apresentacao_info">
            <h1><%= morador.nome %></h1>
            <h2 class="titulo-residente">Residente: <%= morador.cidade %>/<%= morador.uf %></h2>
            <p>Nascido em <%= morador.origem %></p>
            <p class="p-resumo"><%= morador.historico %></p>
            <div class="o-apresentacao_miniaturas">
                <img class="miniatura" src="" alt="Outra imagem do morador de rua Nome Aqui" width="115" height="115">
                <img class="miniatura" src="" alt="Mais uma imagem do morador de rua Nome Aqui" width="115" height="115">
                <img class="miniatura" src="" alt="Uma imagem do morador de rua Nome Aqui" width="115" height="115">
            </div>
            <% if(sessao.nome) { %>
                <a class="editar_link" href="/morador/editar/<%= morador._id %>">Editar</a>
            <% } %>
        </div>
    </div>

    <div class="o-detalhe">
        <section class="o-detalhe_historia">
            <h4 class="titulo-secundario">Minha história</h4>
            <p><%= morador.historico %></p>
        </section>

        <aside class="o-detalhe_necessidades">
                <h4 class="titulo-secundario titulo-destaque">Necessidades atuais:</h4>
                <table>
                    <% if(morador.necessidades.length <= 0) { %>
                        <p>Não há necessidades no momento.</p>
                    <% } else { %>
                        <% for(var i = 0; i < morador.necessidades.length; i++) { %>
                            <tr>
                                <td class="detalhe_tabela-necessidades"><%= morador.necessidades[i] %></td>
                            </tr>
                        <% } %>
                    <% } %>
                </table>
            <% if(sessao.nome) { %>
                <form class="o-detalhe_form" action="/morador/necessidade/<%= morador._id %>" method="post">
                    <label type="hidden" for="necessidade"></label>
                    <input class="inp-gd inp-border" type="text" name="necessidade" value="" placeholder="Adicionar necessidade">
                    <button class="btn-destaque btn-pq" type="submit">+</button>
                </form>
            <% } %>
        </aside>

    </div>
    <div class="o-detalhe_info">
        <h1>Informações Sociais:</h1>
        <table class="o-tabela-info" id="tabela-info">
            <% if(!morador.info || morador.info <= 0) { %>
                <p>Não há informações cadastradas para este morador até o momento.</p>
            <% } else { %>
                <thead class="tabela-info_linha">
                    <th class="tabela-info_cel tabela-info_centro tabela-info_titulo"></th>
                    <th class="tabela-info_cel tabela-info_esq tabela-info_titulo">Info</th>
                    <th class="tabela-info_cel tabela-info_centro tabela-info_titulo">Instituição</th>
                    <th class="tabela-info_cel tabela-info_dir tabela-info_titulo">Data</th>
                </thead>
                <tbody>
                    <% for(var i = 0; i < morador.info.length; i++) { %>
                        <tr class="tabela-info_linha">
                            <td class="tabela-info_cel tabela-info_centro js_info-tipo"><%= morador.info[i].tipo %></td>
                            <td class="tabela-info_cel tabela-info_esq"><%= morador.info[i].info %></td>
                            <td class="tabela-info_cel tabela-info_centro"><%= morador.info[i].instituicao %></td>
                            <td class="tabela-info_cel tabela-info_dir js_info-data" id="info-data"><%= morador.info[i].data %></td>
                        </tr>
                    <% } %>
                </tbody>
            <% } %>
        </table>
        <div>
            <% if(sessao.nome) { %>
                <form class="o-detalhe_form" action="/morador/info/<%= morador._id %>" method="post">
                    <label type="hidden" for="tipo_info"></label>
                    <select class="inp-border select-info" id="tipo_info" name="tipo_info">
                        <option disabled selected value="">Selecione uma opção</option>
                        <option value="H">Atendimento Hospitalar</option>
                        <option value="P">Caso Policial</option>
                        <option value="S">Atendimento Social</option>
                    </select>
                    <label type="hidden" for="info"></label>
                    <input class="inp-gd inp-border" type="text" name="info" value="" placeholder="Adicionar informação">
                    <label type="hidden" for="instituicao"></label>
                    <input class="inp-gd inp-border" type="text" name="instituicao" value="" placeholder="Nome da Instituição">
                    <label type="hidden" for="data"></label>
                    <input class="inp-data inp-border" type="date" name="data" value="" >
                    <button class="btn-destaque btn-pq" id="btn-info" type="submit">+</button>
                </form>
            <% } %>
        </div>
    </div>

<%- include('modelos/footer'); %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/locale/br.js"></script>
<script>
    var listaDatas = document.querySelectorAll('td.js_info-data');
    for(var i = 0; i < listaDatas.length; i++) {
        formataData(listaDatas[i]);
    };

    var listaTipos = document.querySelectorAll('td.js_info-tipo');
    for(var i = 0; i < listaDatas.length; i++) {
        escolheClasseTipoInfo(listaTipos[i]);
    };

    function formataData(elemento) {
        data = moment(elemento.textContent, 'YYYY-MM-DD').format('L');
        elemento.textContent = data;
    };

    function escolheClasseTipoInfo(elemento) {
        tipoInfo = elemento.textContent;
        if(tipoInfo === 'H') {elemento.setAttribute('class', 'tabela-info_hospital')}
        else if(tipoInfo === 'P') {elemento.setAttribute('class', 'tabela-info_policial')}
        else {elemento.setAttribute('class', 'tabela-info_social')}
    };
</script>