<%- include('basic/header'); %>

    <form action="/usuario/<%= usuario._id %>" method="post">
        <input type="hidden" name="_id" value="<%= usuario._id %>">
        <label for="nome">Nome</label>
        <input type="text" id="nome" name="nome" placeholder="Nome" value="<%= usuario.nome %>">
        <label for="email">E-mail</label>
        <input type="email" id="email" name="email" placeholder="nome@usuario.com.br" value="<%= usuario.email %>">
        <label for="senha">Senha</label>
        <input type="password" id="senha" name="senha" value="<%= usuario.senha %>">
        <button type="submit">Atualizar</button>
    </form>

<%- include('basic/footer'); %>