<%- include('modelos/header'); %>

    <div class="o-apresentacao">
        <div class="abertura">
            <% if(validacao.length > 0) { %>
                <div>
                    <ul class="abertura_lista">
                        <li class="lista-abertura alerta"><strong>Atenção:</strong></li>
                        <% for(var i = 0; i < validacao.length; i++) { %>
                            <li class="lista-abertura alerta"><%= validacao[i].msg %></li>
                        <% } %>
                    </ul>
                </div>
            <% } else { %>
                <h1 class="abertura_titulo">Atualização de usuário</h1>
                <h3>Você pode trocar seu e-mail, nome ou senha. Se quiser apagar a sua conta clique no botão abaixo:</h3>
                <form method="POST" action="/usuario/remover/<%= usuario._id %>">
                    <button class="btn-destaque" type="submit">Remover minha conta</button>
                </form>
            <% } %>
        </div>
        <div class="o-form cadastro">
            <h3>Atualize seus dados</h3>
            <form class="o-form" action="/usuario/<%= usuario._id %>" method="post">
                <div class="form-barra">
                    <input type="hidden" id="id" name="id" value="<%= usuario._id %>">
                    <label type="hidden" for="nome"></label>
                    <input class="inp-gd" type="text" id="nome" name="nome" placeholder="Nome" value="<%= usuario.nome %>" autofocus>
                    <label type="hidden" for="email"></label>
                    <input class="inp-gd" type="email" id="email" name="email" placeholder="E-mail" value="<%= usuario.email %>">
                    <label type="hidden" for="senha"></label>
                    <input class="inp-gd" type="password" id="senha" name="senha" placeholder="Senha">
                    <label type="hidden" for="re_senha"></label>
                    <input class="inp-gd" type="password" id="re_senha" name="re_senha" placeholder="Digite a senha novamente">
                </div>
                <button class="btn-destaque" type="submit">Atualizar</button>
            </form>
        </div>
    </div>

<%- include('modelos/footer'); %>